In [1]:
import pandas as pd
pd.__version__

'0.22.0'

In [3]:
pd.__file__

'D:\\ProgramData\\Anaconda3\\lib\\site-packages\\pandas\\__init__.py'

In [2]:
import numpy as np
import matplotlib.pyplot as plt

In [4]:
pd.options.display.max_rows = 10

In [5]:
p0 = pd.Series([1,2,3])
p0

0    1
1    2
2    3
dtype: int64

In [6]:
p0.values

array([1, 2, 3], dtype=int64)

In [7]:
p0.index

RangeIndex(start=0, stop=3, step=1)

In [8]:
n1 = p0.values
n1

array([1, 2, 3], dtype=int64)

In [9]:
n1[:] = -1
p0

0   -1
1   -1
2   -1
dtype: int64

In [10]:
data = pd.Series([0.1, 0.2, 0.3, 0.4], index = ['a', 'b', 'c', 'd'])
data

a    0.1
b    0.2
c    0.3
d    0.4
dtype: float64

In [11]:
data['c']

0.3

In [12]:
data = pd.Series([0.2, 0.3, 0.4, 0.9], index = [2, 9, 5, 6])
data

2    0.2
9    0.3
5    0.4
6    0.9
dtype: float64

In [13]:
data[0:3]

2    0.2
9    0.3
5    0.4
dtype: float64

In [14]:
p_dict = {"数学":88, "物理":99, "英语":124, "历史":86}
p = pd.Series(p_dict)
p

历史     86
数学     88
物理     99
英语    124
dtype: int64

In [15]:
p['数学']

88

In [16]:
p['数学':'英语']

数学     88
物理     99
英语    124
dtype: int64

In [17]:
pd.Series([1, 2, 3])

0    1
1    2
2    3
dtype: int64

In [18]:
pd.Series({2:"a", 3:'d', 5:3})

2    a
3    d
5    3
dtype: object

In [3]:
score_dict = {'数学':88, '物理':99, '英语':123, '历史':83}
score = pd.Series(score_dict)

In [4]:
numbs_dict = {'数学':100, '物理':99, '英语':200, '历史':300}
nums = pd.Series(numbs_dict)

In [5]:
data = pd.DataFrame({'score': score, 'nums':nums})

In [6]:
data

    nums  score
历史   300     83
数学   100     88
物理    99     99
英语   200    123

In [7]:
data.index

Index(['历史', '数学', '物理', '英语'], dtype='object')

In [8]:
data.columns

Index(['nums', 'score'], dtype='object')

In [9]:
data['nums']

历史    300
数学    100
物理     99
英语    200
Name: nums, dtype: int64

In [10]:
score

历史     83
数学     88
物理     99
英语    123
dtype: int64

In [11]:
p0 = pd.DataFrame(score,columns = ['scores'])
p0

    scores
历史      83
数学      88
物理      99
英语     123

In [12]:
p0.iloc[:,0]

历史     83
数学     88
物理     99
英语    123
Name: scores, dtype: int64

p0.loc[:,0]

In [13]:
p0.loc

In [14]:
p0.iloc

In [16]:
pos_pd = pd.DataFrame(np.random.rand(1000,3),columns = ['x','y','z'])

In [17]:
pos_pd

            x         y         z
0    0.436742  0.071018  0.985166
1    0.236165  0.636921  0.124777
2    0.776840  0.549974  0.788044
3    0.691487  0.382710  0.708580
4    0.924086  0.843996  0.276359
5    0.558920  0.000778  0.724236
6    0.183263  0.352074  0.057773
7    0.904880  0.231493  0.558751
8    0.873815  0.221201  0.490841
9    0.092246  0.105087  0.116836
10   0.103512  0.603547  0.040886
11   0.002009  0.740740  0.513539
12   0.323768  0.463347  0.680680
13   0.710611  0.530061  0.990359
14   0.946785  0.865777  0.296702
15   0.144157  0.264601  0.919737
16   0.766789  0.020201  0.661216
17   0.092157  0.668286  0.016353
18   0.714111  0.236777  0.192174
19   0.172331  0.237302  0.275730
20   0.093668  0.045656  0.134799
21   0.540868  0.255296  0.595637
22   0.347106  0.691672  0.405026
23   0.755524  0.079084  0.387508
24   0.671336  0.766190  0.980270
25   0.655548  0.563981  0.138158
26   0.837861  0.720525  0.437683
27   0.147843  0.741170  0.066004
28   0.120739  0.994266  0.671388
29   0.460290  0.095916  0.645827
..        ...       ...       ...
970  0.364897  0.645660  0.046977
971  0.548484  0.605166  0.185949
972  0.076809  0.767686  0.195160
973  0.376552  0.756786  0.979533
974  0.806936  0.485075  0.775071
975  0.952546  0.164914  0.671106
976  0.736349  0.812019  0.922965
977  0.432747  0.960318  0.611330
978  0.931486  0.560079  0.220515
979  0.310259  0.538669  0.650675
980  0.853518  0.416941  0.729753
981  0.297476  0.473942  0.226352
982  0.379084  0.847811  0.832151
983  0.071013  0.088350  0.109664
984  0.162103  0.921609  0.531501
985  0.426479  0.459883  0.100833
986  0.090179  0.976489  0.953014
987  0.992995  0.189082  0.275745
988  0.225278  0.604253  0.883113
989  0.985379  0.259985  0.128021
990  0.550804  0.902131  0.370915
991  0.461968  0.587233  0.444872
992  0.398937  0.268916  0.779305
993  0.145109  0.658938  0.704862
994  0.940155  0.939501  0.353392
995  0.299969  0.302866  0.139921
996  0.328401  0.245521  0.038233
997  0.513848  0.851144  0.912564
998  0.387523  0.110041  0.690270
999  0.421371  0.765751  0.290586

[1000 rows x 3 columns]

In [21]:
p0 = pd.DataFrame({'x':np.random.randn(10),'y':np.random.randn(10)})
p0

          x         y
0  0.718752  0.082912
1  0.757821 -1.611144
2 -0.441880  0.083303
3  0.847703 -1.089495
4  0.744011  0.298654
5  0.174628  0.598302
6  1.777792 -0.227126
7 -0.594644 -2.579675
8 -0.607179 -1.643275
9  0.277847  0.151436

### Index对象

In [26]:
ind = pd.Index([1,3,5])
ind

Int64Index([1, 3, 5], dtype='int64')

In [27]:
ind[0]

1

In [29]:
ind.size, ind.shape, ind.ndim, ind.dtype

(3, (3,), 1, dtype('int64'))

In [30]:
ind[::2]

Int64Index([1, 5], dtype='int64')

### 数据索引与选择

### Series数据选择方法

In [32]:
data = pd.Series([0.25, 0.5, 0.75, 1.0, 2.0],
                index = ['a', 'b', 'c', 'd','d'])
data

a    0.25
b    0.50
c    0.75
d    1.00
d    2.00
dtype: float64

In [35]:
data['b'], 'a' in data

(0.5, True)

In [36]:
pd.Index([1, 2, 1])

Int64Index([1, 2, 1], dtype='int64')

In [37]:
data.index

Index(['a', 'b', 'c', 'd', 'd'], dtype='object')

In [38]:
for i, j in data.items():
    print(i, j)

a 0.25
b 0.5
c 0.75
d 1.0
d 2.0

In [39]:
data

a    0.25
b    0.50
c    0.75
d    1.00
d    2.00
dtype: float64

In [40]:
data['a':'c']

a    0.25
b    0.50
c    0.75
dtype: float64

In [42]:
data[['a','d']]

a    0.25
d    1.00
d    2.00
dtype: float64

In [43]:
data[(data>0.1) & (data<0.8)]

a    0.25
b    0.50
c    0.75
dtype: float64

In [44]:
data = pd.Series(['a', 'b', 'c'], index = [1, 3, 5])
data

1    a
3    b
5    c
dtype: object

In [45]:
#explicit index显式索引
data[1]

'a'

In [47]:
#implict index 隐式索引
data[1:3]

3    b
5    c
dtype: object

In [48]:
data

1    a
3    b
5    c
dtype: object

In [49]:
data.loc[1], data[1]

('a', 'a')

In [50]:
data.loc[1:4]

1    a
3    b
dtype: object

In [51]:
data.loc[1]

'a'

In [52]:
data.loc[1:3]

1    a
3    b
dtype: object

In [55]:
data

1    a
3    b
5    c
dtype: object

In [56]:
data.iloc[1]

'b'

In [57]:
data.iloc[1:3]

3    b
5    c
dtype: object

### DataFrame数据选择方法

In [60]:
p0 = pd.DataFrame({'x': np.random.randn(3),
                 'y': np.random.randn(3)})
p0

          x         y
0  0.710682 -0.073780
1 -0.943191 -0.055126
2 -1.804799  0.901598

In [61]:
p0['x']

0    0.710682
1   -0.943191
2   -1.804799
Name: x, dtype: float64

In [62]:
p0.x

0    0.710682
1   -0.943191
2   -1.804799
Name: x, dtype: float64

In [65]:
p0['z'] =p0['x']*p0['y']
p0

          x         y         z
0  0.710682 -0.073780 -0.052434
1 -0.943191 -0.055126  0.051995
2 -1.804799  0.901598 -1.627204

In [66]:
p0.values

array([[ 0.71068159, -0.07377955, -0.05243377],
       [-0.94319098, -0.05512645,  0.05199477],
       [-1.80479905,  0.90159836, -1.62720387]])

In [67]:
p0.T

          0         1         2
x  0.710682 -0.943191 -1.804799
y -0.073780 -0.055126  0.901598
z -0.052434  0.051995 -1.627204

In [68]:
p0.values

array([[ 0.71068159, -0.07377955, -0.05243377],
       [-0.94319098, -0.05512645,  0.05199477],
       [-1.80479905,  0.90159836, -1.62720387]])

In [69]:
p0['x']

0    0.710682
1   -0.943191
2   -1.804799
Name: x, dtype: float64

In [71]:
p0.loc[:1,['x','z']]

          x         z
0  0.710682 -0.052434
1 -0.943191  0.051995

In [72]:
p0.loc[p0.x>0.5, ['x', 'y']]

          x        y
0  0.710682 -0.07378

In [73]:
p0['x']

0    0.710682
1   -0.943191
2   -1.804799
Name: x, dtype: float64

In [74]:
p0[0:3]

          x         y         z
0  0.710682 -0.073780 -0.052434
1 -0.943191 -0.055126  0.051995
2 -1.804799  0.901598 -1.627204

In [76]:
p0[p0.x>0.10]

          x        y         z
0  0.710682 -0.07378 -0.052434

### 索引保留

In [77]:
ser = pd.Series(np.random.rand(5))
df = pd.DataFrame(np.random.rand(5,3),
                 columns = ['A', 'B', 'C'])

In [78]:
ser

0    0.306451
1    0.078338
2    0.713624
3    0.002336
4    0.455060
dtype: float64

In [79]:
df

          A         B         C
0  0.264411  0.473986  0.470385
1  0.312693  0.314090  0.907976
2  0.881692  0.604474  0.331931
3  0.815875  0.084223  0.872980
4  0.830190  0.212730  0.690041

In [80]:
np.exp(ser)

0    1.358595
1    1.081488
2    2.041377
3    1.002339
4    1.576267
dtype: float64

In [82]:
np.sin(df*np.pi/10)

          A         B         C
0  0.082972  0.148358  0.147238
1  0.098078  0.098514  0.281397
2  0.273463  0.188762  0.104090
3  0.253517  0.026456  0.270830
4  0.257865  0.066781  0.215089

### 索引对齐

In [83]:
s0 = pd.Series({'x': 3, 'y': 2.3, 'z': 2.1})
s1 = pd.Series({'x': 3, 'y': 2.3, 'm': 2.1, 'n': 2.22})

In [84]:
s0

x    3.0
y    2.3
z    2.1
dtype: float64

In [85]:
s0/s1

m    NaN
n    NaN
x    1.0
y    1.0
z    NaN
dtype: float64

In [86]:
s0.index | s1.index

Index(['m', 'n', 'x', 'y', 'z'], dtype='object')

In [87]:
s0.divide(s1, fill_value = 0.0)

m    0.000000
n    0.000000
x    1.000000
y    1.000000
z         inf
dtype: float64

In [88]:
A = pd.DataFrame(np.random.randint(0, 20, (2, 2)), columns = list('AB'))
B = pd.DataFrame(np.random.randint(0, 10, (3,3)), columns = list("BAC"))

In [92]:
A

    A  B
0   6  3
1  17  8

In [93]:
B

   B  A  C
0  6  4  8
1  3  9  1
2  2  7  4

In [90]:
A+B

      A     B   C
0  10.0   9.0 NaN
1  26.0  11.0 NaN
2   NaN   NaN NaN

### DataFrame 与 Series之间的操作

In [94]:
A = np.random.randn(4,3)

In [95]:
df = pd.DataFrame(A, columns = list('ABC'))
df - df.iloc[0]

          A         B         C
0  0.000000  0.000000  0.000000
1 -1.027272 -4.752718 -0.572158
2 -0.964506 -4.335742 -0.298541
3 -2.356735 -3.501548  0.962703

In [96]:
df.sub(df['B'], axis=0)

          A    B         C
0 -3.323334  0.0 -4.103450
1  0.402112  0.0  0.077110
2  0.047903  0.0 -0.066249
3 -2.178521  0.0  0.360800

In [98]:
s3 = df.iloc[0, ::2]
s3

A    0.620097
C   -0.160019
Name: 0, dtype: float64

In [101]:
df.sub(s3, fill_value = 0.0)

NotImplementedError: fill_value 0.0 not supported

In [102]:
df - s3

          A   B         C
0  0.000000 NaN  0.000000
1 -1.027272 NaN -0.572158
2 -0.964506 NaN -0.298541
3 -2.356735 NaN  0.962703

### 处理缺失值

In [104]:
p1 = pd.Series(['a', None, 'c'])
p1

0       a
1    None
2       c
dtype: object

In [105]:
p1[0] = np.nan
p1

0     NaN
1    None
2       c
dtype: object

In [106]:
None, np.nan

(None, nan)

### 处理缺失值的函数
+ isnull
+ notnull
+ dropna
+ fillna

In [107]:
p1 = pd.Series([1, 2, 3, None])
p1

0    1.0
1    2.0
2    3.0
3    NaN
dtype: float64

In [108]:
p1.drop_duplicates?

### 层极索引

In [109]:
index = [('California', 2000), ('California', 2010),
        ('New York', 2000), ('New York', 2010),
        ('Texas', 2000), ('Texas', 2010)]
populations = [338371648, 37253956, 
              18976457, 19378102,
              20851820, 25145561]
pop = pd.Series(populations, index = index)
pop

(California, 2000)    338371648
(California, 2010)     37253956
(New York, 2000)       18976457
(New York, 2010)       19378102
(Texas, 2000)          20851820
(Texas, 2010)          25145561
dtype: int64

In [110]:
pop[[i for i in pop.index if i[1] == 2010]]

(California, 2010)    37253956
(New York, 2010)      19378102
(Texas, 2010)         25145561
dtype: int64

In [111]:
index1 = pd.MultiIndex.from_tuples(index)
index1

MultiIndex(levels=[['California', 'New York', 'Texas'], [2000, 2010]],
           labels=[[0, 0, 1, 1, 2, 2], [0, 1, 0, 1, 0, 1]])

In [112]:
pop

(California, 2000)    338371648
(California, 2010)     37253956
(New York, 2000)       18976457
(New York, 2010)       19378102
(Texas, 2000)          20851820
(Texas, 2010)          25145561
dtype: int64

In [114]:
pop1 = pop.reindex(index1)
pop1

California  2000    338371648
            2010     37253956
New York    2000     18976457
            2010     19378102
Texas       2000     20851820
            2010     25145561
dtype: int64

In [115]:
pop1[:, 2010]

California    37253956
New York      19378102
Texas         25145561
dtype: int64

In [116]:
pop_df = pop1.unstack()
pop_df

                 2000      2010
California  338371648  37253956
New York     18976457  19378102
Texas        20851820  25145561

In [117]:
type(pop_df)

pandas.core.frame.DataFrame

In [118]:
pop_df.stack()

California  2000    338371648
            2010     37253956
New York    2000     18976457
            2010     19378102
Texas       2000     20851820
            2010     25145561
dtype: int64

In [119]:
pop_df1 = pd.DataFrame({'total': pop1, 
                       'under18': [
                           9267089, 9284074,
                           4687374, 4318033,
                           5906301, 6879014
                       ]})
pop_df1

                     total  under18
California 2000  338371648  9267089
           2010   37253956  9284074
New York   2000   18976457  4687374
           2010   19378102  4318033
Texas      2000   20851820  5906301
           2010   25145561  6879014

In [120]:
f_u18 = pop_df1['under18'] / pop_df1['total']
f_u18.unstack()

                2000      2010
California  0.027387  0.249210
New York    0.247010  0.222831
Texas       0.283251  0.273568

### 创建MultiIndex的方法

In [121]:
df = pd.DataFrame(np.random.rand(4, 2),
                 index = [['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
                 columns = ['data1', 'data2'])
df

        data1     data2
a 1  0.096646  0.441753
  2  0.355219  0.338999
b 1  0.808408  0.568947
  2  0.523645  0.987705

In [123]:
data = {('California', 2000): 33871648,
       ('California', 2010):37253956,
       ('Texas', 2010): 25145561,
       ('New York', 2010): 18976457,
       ('New York', 2010): 19378102}
pd.Series(data)

California  2000    33871648
            2010    37253956
New York    2010    19378102
Texas       2010    25145561
dtype: int64

In [124]:
pd.MultiIndex.from_arrays([['a', 'a', 'b', 'b'],[1, 2, 1, 2]])

MultiIndex(levels=[['a', 'b'], [1, 2]],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]])